* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Google Sans',arial, sans-serif;
}

:root {
  --primary-color: #007af3;
}

body {
  margin: 0;
  font-size: 13px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

img {
  width: auto;
  height: 33px;
  display: inline;
  margin: 1em;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #303030;
}

p {
  margin: 0;
}

span {
  color: #969696;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #c7c7c7;
  vertical-align: top;
  margin: 0 1em 0 0;
}

.searchTools {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 832px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  vertical-align: bottom;
  position: relative;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}

.searchTools .searchToolOptions {
  padding-left: 2em;
  font-size: 13px;
  margin-top: 1em;
}

.searchTools .searchToolOptions li {
  padding: 10px;
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}

.active {
  font-weight: bold;
  border-bottom: 3px solid #1A73E8;
}

.active a {
  color: #1A73E8 !important;
}

.searchResults {
  margin-left: 2em;
  display: inline-block;
}

.searchResults .numberOfResults {
  margin-top: 15px;
  color: #969696;
}

.searchResults .result {
  margin: 20px 0 20px 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.searchResults .result .result-item {
  display: inline-block;
  max-width: 600px;
}

.searchResults .result .result-item .link {
  color: #202124;
  font-size: 14px;
}

.searchResults .result .result-item h2 {
  font-weight: normal;
  margin: 0 0 3px 0;
}

.searchResults .result .result-item h2 a {
  white-space: nowrap;
  color: #1a0dab;
}

.searchResults .result .result-item h2 a:hover {
  text-decoration: underline;
}

.searchResults .result .result-item p {
  margin: 3px 0 1em 0;
  color: #545454;
  line-height: 1.5em;
}

.searchResults .result .result-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}

.searchResults .result .result-rating .slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.searchResults .result .result-rating .slider:hover {
  opacity: 1;
}

.searchResults .result .result-rating .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1A73E8;
  cursor: pointer;
}

.searchResults .result .result-rating .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1A73E8;
  cursor: pointer;
}

.searchResults .result .result-visualisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchResults .result .result-visualisation img {
  margin: 0;
  min-height: 200px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.searchResults .result .result-visualisation img:hover {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  border: 1px solid #aaaaaa;
}

.nextPage {
  margin: 6em 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nextPage a {
  font-size: 16pt;
  color: #1a73e8;
}

.nextPage a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  background: #f2f2f2;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  bottom: 0;
  left: 0;
  text-align: center;
  border-top: 1px solid #d1d1d1;
}

@media only screen and (min-width: 768px) {
  .searchTools .searchToolOptions {
    padding-left: 8em;
  }
  .searchResults {
    margin-left: 8em;
  }
}

@media only screen and (min-width: 1200px) {
  .searchResults .result {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'item visualisation' 'rating visualisation';
  }
  .searchResults .result .result-item {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: item;
  }
  .searchResults .result .result-rating {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rating;
  }
  .searchResults .result .result-visualisation {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 4em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: visualisation;
  }
  .searchResults .result .result-visualisation img {
    min-height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */